<h1>I am in App component html</h1>
<button (click)="buttonClick()">Click me</button>

<!-- <div class="container" appAppIF *functionality="display">
  <h1>I am Sunil Kiran Kakitapalli</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos minus ex rerum
    beatae odio, sapiente ducimus quidem! Non at minima doloremque tempora
    recusandae, minus ducimus nemo corrupti, laudantium ab consectetur?
  </p>
</div> -->
<!-- <ng-template #myblock>
  <p class="container">Sorry your value is false</p>
</ng-template> -->

<ng-template appAppIF [one]="display">
  <div class="container">
    <h1>I am Sunil Kiran Kakitapalli</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos minus ex
      rerum beatae odio, sapiente ducimus quidem! Non at minima doloremque
      tempora recusandae, minus ducimus nemo corrupti, laudantium ab
      consectetur?
    </p>
  </div>
</ng-template>

<ng-template appAppIF [two]="displayElse">
  <p class="container">Sorry your value is false</p>
</ng-template>

<div *appIfTrue="isTrue">This content is displayed when isTrue is true.</div>
<div *appIfTrue="!isTrue">This content is displayed when isTrue is false.</div>
